In [13]:
import os
import numpy as np
import pandas as pd

In [14]:
# 設定 data_path
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

檢視資料中各個欄位類型的數量

In [15]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

檢視資料中類別型欄位各自類別的數量

In [16]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

#### Label encoding
有仔細閱讀[參考資料](https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621)的人可以發現，Label encoding 的表示方式會讓同一個欄位底下的類別之間有大小關係 (0<1<2<...)，所以在這裡我們只對有類別數量小於等於 2 的類別型欄位示範使用 Label encoding，但不表示這樣處理是最好的，一切取決於欄位本身的意義適合哪一種表示方法

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            print(app_train[col])
            app_train[col] = le.transform(app_train[col])
            print(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

0              Cash loans
1              Cash loans
2         Revolving loans
3              Cash loans
4              Cash loans
5              Cash loans
6              Cash loans
7              Cash loans
8              Cash loans
9         Revolving loans
10             Cash loans
11             Cash loans
12             Cash loans
13             Cash loans
14             Cash loans
15             Cash loans
16             Cash loans
17        Revolving loans
18        Revolving loans
19             Cash loans
20        Revolving loans
21             Cash loans
22             Cash loans
23             Cash loans
24             Cash loans
25             Cash loans
26             Cash loans
27             Cash loans
28             Cash loans
29        Revolving loans
               ...
307481         Cash loans
307482         Cash loans
307483         Cash loans
307484         Cash loans
307485    Revolving loans
307486         Cash loans
307487         Cash loans
307488         Cash loans
307489         Cash loans
307490         Cash loans
307491         Cash loans
307492         Cash loans
307493         Cash loans
307494         Cash loans
307495         Cash loans
307496    Revolving loans
307497         Cash loans
307498         Cash loans
307499         Cash loans
307500         Cash loans
307501         Cash loans
307502         Cash loans
307503         Cash loans
307504         Cash loans
307505         Cash loans
307506         Cash loans
307507         Cash loans
307508         Cash loans
307509         Cash loans
307510         Cash loans
Name: NAME_CONTRACT_TYPE, Length: 307511, dtype: object
0         0
1         0
2         1
3         0
4         0
5         0
6         0
7         0
8         0
9         1
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        1
18        1
19        0
20        1
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        1
         ..
307481    0
307482    0
307483    0
307484    0
307485    1
307486    0
307487    0
307488    0
307489    0
307490    0
307491    0
307492    0
307493    0
307494    0
307495    0
307496    1
307497    0
307498    0
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    0
307510    0
Name: NAME_CONTRACT_TYPE, Length: 307511, dtype: int64
0         N
1         N
2         Y
3         N
4         N
5         N
6         Y
7         Y
8         N
9         N
10        N
11        N
12        N
13        Y
14        N
15        Y
16        N
17        N
18        N
19        N
20        Y
21        Y
22        N
23        N
24        Y
25        N
26        N
27        N
28        Y
29        N
         ..
307481    N
307482    Y
307483    N
307484    Y
307485    N
307486    Y
307487    N
307488    N
307489    N
307490    N
307491    Y
307492    Y
307493    N
307494    Y
307495    Y
307496    N
307497    Y
307498    Y
307499    N
307500    N
307501    N
307502    N
307503    N
307504    N
307505    N
307506    N
307507    N
307508    N
307509    N
307510    N
Name: FLAG_OWN_CAR, Length: 307511, dtype: object
0         0
1         0
2         1
3         0
4         0
5         0
6         1
7         1
8         0
9         0
10        0
11        0
12        0
13        1
14        0
15        1
16        0
17        0
18        0
19        0
20        1
21        1
22        0
23        0
24        1
25        0
26        0
27        0
28        1
29        0
         ..
307481    0
307482    1
307483    0
307484    1
307485    0
307486    1
307487    0
307488    0
307489    0
307490    0
307491    1
307492    1
307493    0
307494    1
307495    1
307496    0
307497    1
307498    1
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    0
307510    0
Name: FLAG_OWN_CAR, Length: 307511, dtype: int64
0         Y
1         N
2         Y
3         Y
4         Y
5         Y
6         Y
7         Y
8         Y
9         Y
10        Y
11        Y
12        Y
13        N
14        Y
15        Y
16        N
17        Y
18        Y
19        Y
20        Y
21        Y
22        N
23        Y
24        N
25        Y
26        Y
27        Y
28        Y
29        Y
         ..
307481    Y
307482    Y
307483    Y
307484    N
307485    Y
307486    Y
307487    Y
307488    N
307489    Y
307490    Y
307491    Y
307492    Y
307493    Y
307494    N
307495    N
307496    N
307497    Y
307498    Y
307499    Y
307500    Y
307501    Y
307502    Y
307503    Y
307504    Y
307505    Y
307506    N
307507    Y
307508    Y
307509    Y
307510    N
Name: FLAG_OWN_REALTY, Length: 307511, dtype: object
0         1
1         0
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        0
14        1
15        1
16        0
17        1
18        1
19        1
20        1
21        1
22        0
23        1
24        0
25        1
26        1
27        1
28        1
29        1
         ..
307481    1
307482    1
307483    1
307484    0
307485    1
307486    1
307487    1
307488    0
307489    1
307490    1
307491    1
307492    1
307493    1
307494    0
307495    0
307496    0
307497    1
307498    1
307499    1
307500    1
307501    1
307502    1
307503    1
307504    1
307505    1
307506    0
307507    1
307508    1
307509    1
307510    0
Name: FLAG_OWN_REALTY, Length: 307511, dtype: int64
3 columns were label encoded.

#### One Hot encoding
pandas 中的 one hot encoding 非常方便，一行程式碼就搞定

In [7]:
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

可以觀察到原來的類別型欄位都轉為 0/1 了

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [8]:
app_train = pd.read_csv(f_app_train)
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [ ]:
"""
Your Code Here
"""